*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;

}
